[Desktop Entry]
Type=Application
Exec=/usr/bin/env /home/user/repos/zenbook-duo-2024-ux8406ma-linux/duo watch-backlight
X-GNOME-Autostart-enabled=true

